#main {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

#form {
text-align: center;
}

#buttons {
    text-align: center;
    }

input[type=text] {
    text-transform: uppercase
}